<!-- Begin no products -->
<div class="clearfix helper-section">

  <div class="note helper-note helper-all-products">
    <i class="icon-products helper-icon"></i>
    <h3>{{ 'products.onboarding.title' | t }}</h3>
    <p>{{ 'products.onboarding.subtext' | t }}</p>
    <p><a href="/admin/products/new" class="admin-btn-primary">{{ 'products.onboarding.add_product' | t }}</a><a class="secondary-action" href="/products/example-product">{{ 'products.onboarding.view_sample' | t }}</a></p>
  </div>

  <div class="helper-content clearfix products-listing">

    <div class="row products">
      <div class="product span4">
        <div class="image">
          <img src="{{ 'product-1.png' | asset_url }}" alt="Example product" />
        </div>
        <div class="details">
          <h4 class="title">{{ 'products.onboarding.example_title' | t }} </h4>
          <span class="price">
            {{ '8499' | money }}
          </span>
        </div>
      </div>
      <div class="product span4 ">
        <div class="image">
          <img src="{{ 'product-2.png' | asset_url }}" alt="Example product" />
        </div>
        <div class="details">
          <h4 class="title">{{ 'products.onboarding.example_title' | t }} </h4>
          <span class="price">
            {{ '5999' | money }}
          </span>
        </div>
      </div>
      <div class="product span4">
        <div class="image">
          <img src="{{ 'product-3.png' | asset_url }}" alt="Example product" />
        </div>
        <div class="details">
          <h4 class="title">{{ 'products.onboarding.example_title' | t }} </h4>
          <span class="price">
            {{ '2999' | money }}
          </span>
        </div>
      </div>
      <div style="clear:both;"></div>
      <div class="product span4">
        <div class="image">
          <img src="{{ 'product-4.png' | asset_url }}" alt="Example product" />
        </div>
        <div class="details">
          <h4 class="title">{{ 'products.onboarding.example_title' | t }} </h4>
          <span class="price">
            {{ '8499' | money }}
          </span>
        </div>
      </div>
      <div class="product span4 ">
        <div class="image">
          <img src="{{ 'product-5.png' | asset_url }}" alt="Example product" />
        </div>
        <div class="details">
          <h4 class="title">{{ 'products.onboarding.example_title' | t }} </h4>
          <span class="price">
            {{ '5999' | money }}
          </span>
        </div>
      </div>
      <div class="product span4">
        <div class="image">
          <img src="{{ 'product-6.png' | asset_url }}" alt="Example product" />
        </div>
        <div class="details">
          <h4 class="title">{{ 'products.onboarding.example_title' | t }} </h4>
          <span class="price">
            {{ '2999' | money }}
          </span>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>

  </div>
</div>
<!-- End no products -->
