<div class="flyout">
  <ul class="clearfix">
    {% for link in linklists.main-menu.links %}
    {% if linklists[link.handle] == empty %}
    <li>
      <a href="{{ link.url }}" class="{% if link.active %} current{% endif %} navlink"><span>{{ link.title }}</span></a>
    </li>
    {% else %}
    <li>
    <span class="more"><i class="fa fa-plus"></i></span>
      <a href="{{ link.url }}" class="{% if link.active %} current{% endif %} navlink"><span>{{ link.title }}</span></a>
      <ul class="sub-menu">
        {% for l in linklists[link.handle].links %}
        <li><a href="{{ l.url }}" class="{% if l.active %}current {% endif %}{% if forloop.last %} last {% endif %}   navlink">{{ l.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
    {% endfor %}

    {% if shop.customer_accounts_enabled %}
      {% if customer  %}
        <li class="customer-links"><a href="/account">{{ 'layout.customer.your_account' | t }}</a></li>
      {% else %}
        <li class="customer-links">{{ 'layout.customer.login' | t | customer_login_link }}</li>
        {% if shop.customer_accounts_optional %}
        <li class="customer-links">{{ 'layout.customer.create_account' | t | customer_register_link }}</li>
        {% endif %}
      {% endif %}
    {% endif %}
    <li>
      <a class="navlink" href="/pages/contact-us">{{ 'layout.header.contact_us' | t }}</a>
    </li>

    <li class="search-field">
      <form class="search" action="/search" id="search">
        <button id="go"><span class="expanse-icon-search"></span></button>
        <input type="text" name="q" class="search_box" placeholder="{{ 'layout.header.search' | t }}" value="{{ search.terms }}" />
      </form>
    </li>
  </ul>
</div>
