{% capture collection_handle %}{{ product-loop | handleize }}{% endcapture %}
{% capture url %}{% if collection_handle != "" %}/collections/{{ product-loop }}{{ product.url }}{% else %}{{ product.url }}{% endif %}{% endcapture %}

{% if settings.products_per_row == '3' %}{% assign product_span_size = 'span4' %}{% endif %}
{% if settings.products_per_row == '4' %}{% assign product_span_size = 'span3' %}{% endif %}
{% if template == 'index' %}
  {% if collections[collection_handle].products.size == 4 %}{% assign product_span_size = 'span4' %}{% endif %}
  {% if collections[collection_handle].products.size == 5 %}{% assign product_span_size = 'span3' %}{% endif %}
{% endif %}

<div class="product {{ product_span_size }}">

  {% if product.price_min < product.compare_at_price_min %}
    <span class="circle sale">{{ 'products.product.sale' | t }}</span>
  {% endif %}

  <div class="image">
    <a href="{{ url }}">          
      <img src="{% if product.images.size >= 1%}{{ product.featured_image | product_img_url: 'large' }}{% else %}{{ 'No_Image_2.png' | asset_url }}{% endif %}" alt="{{ product.title | escape  }}" />
    </a>
  </div>

  <div class="details">
    <a href="{{ url }}" class="clearfix">
      <h4 class="title">{{ product.title }}</h4>

      <span class="price">
      {% assign price = product.price | money %}
      {% if product.available %}
        {% if product.compare_at_price_max > product.price %}
          <del>{{ product.compare_at_price | money }}</del>
        {% endif %}
        <span class="compare-price">{% if product.price_varies %}{{ 'collections.product_item.from_text_html' | t: price: price }}{% else %}{{ price }}{% endif %}</span>
      {% else %}
        {% if product.price_varies %}{{ 'collections.product_item.from_text_html' | t: price: price }}{% else %}{{ price }}{% endif %}{{ 'products.product.sold_out_html' | t }}
      {% endif %}
      </span>
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    </a>
  </div>
</div>
