<div id="product" class="{{ product.handle }}">

  <div class="row clearfix">

    {% if template != 'index' %}
    <!-- Begin breadcrumb -->
    <div class="span12">
      <div class="breadcrumb clearfix">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
        <span class="arrow-space">&#62;</span>
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
          {% if collection %}
            <a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a>
          {% else %}
            <a href="/collections/all" title="All Products">{{ 'general.breadcrumbs.products' | t }}</a>
          {% endif %}
        </span>
        <span class="arrow-space">&#62;</span>
        <strong>{{ product.title }}</strong>
      </div>
    </div>
    <!-- End breadcrumb -->
    {% endif %}

    <!-- Begin product photos -->
    {% if product.images.size > 1 %}
    <div class="span7 product-image">
    {% else %}
    <div class="span6 no-thumbs">
    {% endif %}

      <!-- Begin featured image -->
      <div class="image featured">
        {% if product.images.size > 0 %}
        {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
        {% if settings.enable_product_image_zoom %}
        <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" />
        {% else %}
        <a href="{{ featured_image | img_url: '1024x1024' }}" class="zoom" id="placeholder">
          <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" />
        </a>
        {% endif %}
        {% else %}
        <img src="{{ 'No_Image_2.png' | asset_url }}" />
        {% endif %}
      </div>
      <!-- End product image -->

      {% if product.images.size > 1%}
      <!-- Begin thumbnails -->
      <div class="thumbs clearfix">
        {% for image in product.images %}
        {% if settings.enable_product_image_zoom %}
        <div class="image span2{% cycle 'last-in-row': '', '', ' last-in-row' %}">
          <a href="{{ image | product_img_url: '1024x1024' }}" class="cloud-zoom-gallery">
            <img src="{{ image | product_img_url: 'medium' }}" alt="{{ image.alt | escape }}" />
          </a>
        </div>
        {% else %}
        <div class="image span2{% cycle 'last-in-row': '', '', ' last-in-row' %}">
          <a href="{{ image | product_img_url: '1024x1024' }}" data-original-image="{{ image | product_img_url: '1024x1024' }}">
            <img src="{{ image | product_img_url: 'medium' }}" alt="{{ image.alt | escape }}" />
          </a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <!-- End thumbnails -->
      
      {% endif %}

    </div>
    <!-- End product photos -->



    <!-- Begin description -->
    {% if product.images.size > 1 %}
    <div class="span5 product-details">
    {% else %}
    <div class="span6 product-details">
    {% endif %}

      <div class="product-info box-container">
        <h1 class="title narrow" id="product-title">{{ product.title }}</h1>
      {% assign variant = product.selected_or_first_available_variant %}
      <div class="purchase narrow">
        <h2 class="price" id="price-preview">
          {% if variant.price < variant.compare_at_price %} <del>{{ variant.compare_at_price | money }}</del>{% endif %} <span class="compare-price">{{ variant.price | money }}</span>
        </h2>
      </div>

      {% assign hide_default_title = false %}
      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        {% assign hide_default_title = true %}
      {% endif %}

      <form id="add-item-form" action="/cart/add" method="post" class="variants clearfix narrow">

        <!-- Begin product options -->
        <div class="product-options {% if hide_default_title %}no-options {% endif %}">

          <div class="select clearfix"{% if hide_default_title %} style="display:none"{% endif %}>
            <select id="product-select" name="id">
              {% for variant in product.variants %}
              <option value="{{ variant.id }}"{% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
              {% endfor %}
            </select>
          </div>

          {% if settings.display_quantity_dropdown %}
          <div class="selector-wrapper">
            <!-- <label>{{ 'products.product.quantity' | t }}</label> -->
            <input id="quantity" type="number" name="quantity" value="1" class="tc item-quantity" />
          </div>
          {% endif %}

          <div class="purchase-section{% if product.variants.size > 1 %} multiple{% endif %}">
            <div class="purchase">
              {% unless product.available %}
              <p>{{ 'products.product.sold_out_html' | t }}</p>
              {% else %}
              <input type="submit" id="add-to-cart" class="btn addtocart" name="add" value="{{ 'products.product.add_to_cart' | t }}" />
              <div id="cart-animation" style="display:none">1</div>
              {% endunless %}
            </div>
          </div>
        </div>
        <!-- End product options -->

      </form>
        <!-- Begin social buttons -->
      {% if settings.social_sharing_products %}
      <div class="narrow">
        {% include 'social-sharing' %}
      </div>
      {% endif %}
      <!-- End social buttons -->
      </div>

      <div class="description box-container">
        <header class="box-container-header">
          <span>{{ 'products.general.description' | t }}</span>
        </header>
        <div class="box-container-body">
        {{ product.description }}
        </div>
      </div>
      

    </div>
    <!-- End description -->
  </div>

  <div id="shopify-product-reviews" class="span12" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

  <!-- Begin related product -->
  {% if settings.show_related_products %}
  <div id="related-products">
    {% include 'related-products' %}
  </div>
  {% endif %}

</div>

<div style="display:none" id="preloading">
{% for image in product.images offset: 1 %}
{{ image | product_img_url: '1024x1024' | img_tag }}
{% endfor %}
</div>

  <script>
  var selectCallback = function(variant, selector) {
    if (variant && variant.featured_image) {
      var newImage = variant.featured_image; // New image object.
      var mainImageDomEl = jQuery('.featured img')[0]; // DOM element of main image we need to swap.
      Shopify.Image.switchImage(newImage, mainImageDomEl, switchImage); // Define switchImage (the callback) in your theme's JavaScript file.
    }
    if (variant && variant.available) {
      jQuery('#add-to-cart').removeAttr('disabled').removeClass('disabled'); // remove unavailable class from add-to-cart button, and re-enable button
      if(variant.price < variant.compare_at_price){
        jQuery('#price-preview').html("<del>" + Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}") + "</del>" + Shopify.formatMoney(variant.price, "<span class=\"compare-price\">" + "{{ shop.money_format }}") + " </span>");
      } else {
        jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));
      }
    } else {
      jQuery('#add-to-cart').addClass('disabled').attr('disabled', 'disabled'); // set add-to-cart button to unavailable class and disable button
      var message = variant ? {{ 'products.product.sold_out_html' | t | json }} : {{ 'products.product.unavailable_html' | t | json }};
      jQuery('#price-preview').html(message);
    }
  };

  jQuery(document).ready(function($){
    new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback, enableHistoryState: true });

    // Add label if only one product option and it isn't 'Title'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first | escape }}</label>');
    {% endif %}

  });
  </script>