<div id="customer-account">
  <div class="span12">
      <h1 class="title clearfix">{{ 'customer.account.title' | t }}
        <span class="note">{{ 'customer.account.logout' | t | customer_logout_link }}</span>
      </h1>
    </div>

  <div class="row">
    <div id="customer_orders" class="span8">
      {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}
          <table class="account-orders-table responsive-table">
            <thead>
              <tr>
                <th class="order_number">{{ 'customer.orders.order_number' | t }}</th>
                <th class="date">{{ 'customer.orders.date' | t }}</th>
                <th class="payment_status">{{ 'customer.orders.payment_status' | t }}</th>
                <th class="fulfillment_status">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th class="total">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
              <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
                <td data-th="{{ 'customer.orders.order_number' | t }}:">{{ order.name | link_to: order.customer_url }}</td>
                <td data-th="{{ 'customer.orders.date' | t }}:"><span class="note">{{ order.created_at | date: format: 'short' }}</span></td>
                <td data-th="{{ 'customer.orders.payment_status' | t }}:"><span class="status_{{ order.financial_status }}">{{ order.financial_status_label }}</span></td>
                <td data-th="{{ 'customer.orders.fulfillment_status' | t }}:"><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status_label }}</span></td>
                <td data-th="{{ 'customer.orders.total' | t }}:"><span class="total money">{{ order.total_price | money }}</span></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>{{ 'customer.orders.none' | t }}</p>
        {% endif %}
        {% include 'pagination' %}
      {% endpaginate %}
    </div>

    <div id="customer_sidebar" class="span4">
      <h2>{{ customer.name }}</h2>
      <p class="email note">{{ customer.email }}</p>
      <div class="address note box-container pb">
        {% if customer.default_address != nil %}
        <p>{{ customer.default_address.address1 }}</p>
        {% if customer.default_address.address2 != "" %}
        <p>{{ customer.default_address.address2 }}</p>
        {% endif %}
        <p>{{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}</p>
        <p>{{ customer.default_address.zip}}</p>
        <p>{{ customer.default_address.phone }}</p>
        {% endif %}
        <a id="view_address" href="/account/addresses">{{ 'customer.account.view_addresses' | t }}</a>
      </div>
    </div>
  </div>
</div>
