<div id="customer-login" class="login-page">
  <div class="span12">
      <h1 class="title clearfix">{{ 'customer.login.title' | t }}</h1>
    </div>

  <div class="row">
    <div id="login" class="span6">
      
      <h2>{{ 'customer.login.sign_in' | t }}</h2>
      {% form 'customer_login' %}
      {{ form.errors | default_errors }}

      <label for="customer_email" class="label">{{ 'customer.login.email' | t }}</label>
      <input type="email" value="" name="customer[email]" id="customer_email" class="text" />

      {% if form.password_needed %}
      <label for="customer_password" class="label">{{ 'customer.login.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="customer_password" class="text" size="16" />
      <a href="#" onclick="showRecoverPasswordForm();return false;">{{ 'customer.login.forgot_password' | t }}</a>
      {% endif %}

      <div class="action_bottom">
        <input class="btn" type="submit" value="{{ 'customer.login.sign_in' | t }}" />
      </div>
      {% endform %}
    </div>

    <div id="register" class="span6">
      <h2>{{ 'customer.login.register' | t }}</h2>
      <p>{{ 'customer.login.register_text' | t }}</p>
      <a href="/account/register" class="btn">{{ 'customer.login.sign_up' | t }}</a>
    </div>

    <div id="recover-password" style="display:none;" class="span7">
      <h2>{{ 'customer.login.reset_password' | t }}</h2>
      <p class="note">{{ 'customer.login.reset_password_subtext' | t }}</p>

      {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}

      <label for="email" class="label">{{ 'customer.login.email' | t }}</label>
      <input type="email" value="" size="30" name="email" id="recover-email" class="text" />
      <div class="action_bottom">
        <input class="btn" type="submit" value="{{ 'customer.login.submit_recover' | t }}" />
        <span class="or">{{ 'customer.general.or' | t }}</span>
        <span class="note"><a href="#" onclick="hideRecoverPasswordForm();return false;">{{ 'customer.login.cancel' | t }}</a></span>
      </div>
      {% endform %}
    </div>

    {% if shop.checkout.guest_login %}
    <div id="guest" class="span5">
      <h2>{{ 'customer.login.guest_title' | t }}</h2>
      {% form 'guest_login' %}
      <input class="btn" type="submit" value="{{ 'customer.login.guest_continue' | t }}" />
      {% endform %}
    </div>
    {% endif %}

  </div>
</div>

<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('login').style.display = 'none';
    document.getElementById('register').style.display = 'none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('login').style.display = 'block';
    document.getElementById('register').style.display = 'block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>