
{% if settings.slide_1 != false or settings.slide_2 != false or settings.slide_3 != false or settings.slide_4 != false %}
<!-- Begin slider -->
<div class="span12">
  <div class="flexslider-container">
    <div class="flexslider">
      <ul class="slides">
        {% for i in (1..4) %}
          {% capture show_slide %}slide_{{ i }}{% endcapture %}
          {% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
          {% capture link %}slide_{{ i }}_link{% endcapture %}
          {% capture alt %}slide_{{ i }}_alt{% endcapture %}
          {% if settings[show_slide] %}
          <li>
            <a href="{{ settings[link] }}">
              <img src="{{ image | asset_url }}" alt="{{ settings[alt] | escape }}" />
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="flex-controls"></div>
    </div>
  </div>
</div>
<!-- End slider -->
{% endif %}

<!-- Begin products -->
{% if settings.frontpage_collection != '' or settings.frontpage_collection_2 != '' or settings.frontpage_collection_3 != '' %}
  
  <div class="clearfix helper-section home-carousel-products span12 border-bottom tabs">
    
    <!-- Begin list tabs -->
    <ul class="tabs-nav border-bottom border-top p30">
      {% if settings.frontpage_collection != '' %}
        <li>
          <a href="#tab-1">{{ collections[settings.frontpage_collection].title }}</a>
        </li>
      {% endif %}
      {% if settings.frontpage_collection_2 != '' %}
        <li>
          <a href="#tab-2">{{ collections[settings.frontpage_collection_2].title }}</a>
        </li>
      {% endif %}
      {% if settings.frontpage_collection_3 != '' %}
        <li>
          <a href="#tab-3">{{ collections[settings.frontpage_collection_3].title }}</a>
        </li>
      {% endif %}
    </ul>
    <!-- End list tabs -->

    <!-- Begin first collection -->
    {% if collections[settings.frontpage_collection].products.size == 0 and collections[settings.frontpage_collection_2].products.size == 0 and collections[settings.frontpage_collection_3] == 0 %}

      {% include 'helper-homepage-products' %}

    {% else %}
      
      <!-- Begin first tab products -->
      {% if settings.frontpage_collection != '' %}
        <div id="tab-1">
        {% for product in collections[settings.frontpage_collection].products %}
            
            {% unless grid_started %}
              <!-- Grid-style product -->

              <div class="products owl-carousel">
              {% assign grid_started = "true" %}
              {% endunless %}

              {% include 'product-loop-carousel' with settings.frontpage_collection %}

              {% if forloop.last %}
              </div>

            {% endif %}

        {% endfor %}
        </div>
      {% endif %}
      <!-- End first tab products -->
      
      <!-- Begin second tab products -->
      {% if settings.frontpage_collection_2 != '' %}
        <div id="tab-2">
        {% for product in collections[settings.frontpage_collection_2].products %}
            
            {% unless grid_started_2 %}
              <!-- Grid-style product -->
              <div class="products owl-carousel">
              {% assign grid_started_2 = "true" %}
              {% endunless %}

              {% include 'product-loop-carousel' with settings.frontpage_collection_2 %}

              {% if forloop.last %}
              </div>
            {% endif %}
            

        {% endfor %}
        </div>
      {% endif %}
      <!-- End second tab products -->
      
      <!-- Begin third tab products -->
      {% if settings.frontpage_collection_3 != '' %}
        <div id="tab-3">
        {% for product in collections[settings.frontpage_collection_3].products %}
            
            
            {% unless grid_started_3 %}
              <!-- Grid-style product -->
              <div class="products owl-carousel">
              {% assign grid_started_3 = "true" %}
              {% endunless %}

              {% include 'product-loop-carousel' with settings.frontpage_collection_3 %}

              {% if forloop.last %}
              </div>
            {% endif %}

        {% endfor %}
        </div>
      {% endif %}
      <!-- End third tab products -->

      <!-- End -->

    {% endif %}

  </div>
{% endif %}
<!-- End products -->

<!-- Begin content page -->
{% if settings.homepage != '' %}
  {% assign helper_welcome = false %}
  
  {% if pages[settings.homepage].content contains 'where users go when first trying to determine a level of trust' %}
    {% assign helper_welcome = true %}
  {% endif %}

  {% if pages[settings.homepage].content contains 'Write a few sentences to tell people about your store' %}
    {% assign helper_welcome = true %}
  {% endif %}

  <div class="clearfix {% if helper_welcome %}helper-section{% endif %}">
    {% if helper_welcome %}
    <div class="span12 note helper-note helper-homepage-page">
      <i class="icon-pages helper-icon"></i>
      <h3>{{ 'home_page.onboarding.page_title' | t }}</h3>
      <p>{{ 'home_page.onboarding.page_text' | t }}</p>
      <p><a href="/admin/pages" class="admin-btn-primary">{{ 'home_page.onboarding.edit_page' | t }}</a><a class="secondary-action" href="/admin/themes/current/settings">{{ 'home_page.onboarding.view_settings' | t }}</a></p>
    </div>
    {% endif %}
    
    <div class="p30 clearfix clearboth  {% if helper_welcome %}helper-content{% endif %}">

      {% if blogs.news.articles.size > 0 %}
        {% assign home_span_size = 'span4' %}
      {% else %}
        {% assign home_span_size = 'span6' %}
      {% endif %}
      
      <!-- Begin page content -->
      <div class="intro content-institucional content-page {{ home_span_size }}">
        <span class="ico">
          <span class="expanse-icon-user"></span>
        </span>
        <h2>{{ pages[settings.homepage].title }}</h2>
        <div class="content-body">
          {{ pages[settings.homepage].content | strip_html | truncate: 205 }}  
        </div>
        <span class="content-link">{{ 'home_page.onboarding.read_more_link' | t | link_to: pages[settings.homepage].url }}</span>
      </div>
      <!-- End page content -->

      <!-- Begin latest blog post -->
      {% if blogs.news.articles.size > 0 %}
      <div class="intro content-institucional content-blog {{ home_span_size }}">
        <span class="ico">
          <span class="expanse-icon-feed2"></span>
        </span>
        <h2>{{ 'home_page.onboarding.blog_title' | t }}</h2>
        {% assign article = blogs.news.articles.first %}
        <div class="content-body">
          <span class="content-title">{{ article.title }}</span>
          <p>{{ article.content | strip_html | truncatewords: 30 }}</p>
        </div>
        <span class="content-link">{{ 'home_page.onboarding.blog_link' | t | link_to: article.url }}</span>
      </div>
      {% endif %}
      <!-- End latest blog post -->
      
      <!-- Begin twitter content -->
      <div class="intro content-institucional content-twitter {{ home_span_size }}">
        <span class="ico">
          <span class="expanse-icon-twitter"></span>
        </span>
        <h2>{{ 'home_page.onboarding.twitter_title' | t }}</h2>
        <div class="content-body">
          <a class="twitter-timeline" href="https://twitter.com/{{ settings.twittercard_handle }}" data-widget-id="{{ settings.twittercard_handle_id }}" data-chrome="noheader nofooter noborders noscrollbar transparent" data-tweet-limit="1">Tweets by {{ settings.twittercard_handle }}</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <span class="content-link"><a href="http://twitter.com/{{ settings.twittercard_handle }}" target="_blank">{{ 'home_page.onboarding.twitter_link' | t }}</a></span>
      </div>
      <!-- End twitter content -->

    </div>

  </div>
{% endif %}
<!-- End content page -->