<div id="page" class="row">
  
  <div class="span12">
    <h1>{{ page.title }}</h1>
    <div class="page-with-contact-form">
        <div class="contact-content">
          {{ page.content }}
        </div>
            
        {% form 'contact' %}
        {% if form.posted_successfully? %}
        <div class="successForm feedback">
          <p>{{ 'contact.form.post_success' | t }}</p>
        </div>
        {% endif %}

        {% if form.errors %}
        <div class="errorForm feedback">
          <p>{{ 'contact.form.post_error' | t }}</p>
          {% for field in form.errors %}
            <p>{{ 'contact.form.post_field_error_html' | t: field: field, error: form.errors.messages[field] }}</p>
          {% endfor %}
        </div>
        {% endif %}

        <div id="contactFormWrapper" class="customer-form">
          <div class="clearfix large_form">
            <label class="label">{{ 'contact.form.name' | t }}</label>
            <input class="text" size="30" type="text" id="contactFormName" name="contact[name]" placeholder="{{ 'contact.placeholder.name' | t }}" />
          </div>
          <div class="clearfix large_form">
            <label class="label">{{ 'contact.form.email' | t }}</label>
            <input class="text" size="30" type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.placeholder.email' | t }}" />
          </div>
          <div class="clearfix large_form">
            <label class="label">{{ 'contact.form.phone' | t }}</label>
            <input class="text" size="30" type="telephone" id="contactFormTelephone" name="contact[phone]" placeholder="{{ 'contact.placeholder.phone' | t }}" />
          </div> 
          <div class="clearfix large_form">
            <label class="label">{{ 'contact.form.message' | t }}</label>
            <textarea class="text" rows="15" cols="75" id="contactFormMessage" name="contact[body]" placeholder="{{ 'contact.placeholder.message' | t }}"></textarea>
          </div>
          <div class="clearfix large_form">
            <input type="submit" id="contactFormSubmit" value="{{ 'contact.form.send' | t }}" class="btn" />
          </p>
        </div>
        {% endform %}
      
    </div>
  </div>
  
</div>


