<div id="search">
  {% if search.performed %}
  {% paginate search.results by settings.pagination_limit %}

  {% if search.terms == "" %}
  <div class="row">
    <div class="span12 expanded-message">
      <div class="search-field">
        <form class="search" action="/search">
          <button id="go"><span class="expanse-icon-search"></span></button>
          <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}" value=""  />
        </form>
      </div>
    </div>
  </div>
  {% else %}
  
  {% if search.results == empty %}
  <div class="row">
    <div class="span12 expanded-message">
      <h2>{{ 'general.search.no_results_title' | t }}</h2>
      <span class="subtext">{{ 'general.search.no_results_html' | t: search: search.terms }}</span>
      <div class="search-field">
        <form class="search" action="/search">
          <button id="go"><span class="expanse-icon-search"></span></button>
          <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}"  />
        </form>
      </div>
    </div>
  </div>
  {% else %}
  
  <div class="row">
    <div class="span12">
      <h1>{{ 'general.search.results_title' | t }}</h1>
    </div>
  </div>
  
  <!-- Begin results -->
  {% for item in search.results %}
  <div class="row results">
    <div class="span1">
      <div class="thumbnail">
        <a href="{{ item.url }}">{{ item.featured_image | product_img_url: 'small' | img_tag }}</a>
      </div>
    </div>
    <div class="span11">
      <div class="search-result">
        <h3>{{ item.title | highlight: search.terms | link_to: item.url }}</h3>
        {{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }}
      </div>
    </div>
    <hr class="divider" />
  </div>
  {% endfor %}
  <!-- End results -->
  
  {% include 'pagination' %}

  {% endif %}
  {% endif %}

  {% endpaginate %}
  
  {% else %}

  <div class="row">
    <div class="span12 expanded-message">
      <div class="search-field">
        <form class="search" action="/search">
          <button id="go"><span class="expanse-icon-search"></span></button>
          <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}" value="" />
        </form>
      </div>
    </div>
  </div>

  {% endif %} 
</div> <!-- /#search -->